/*******************Reset Css****************/
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none !important;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
}
p {
  margin: 0;
  color: #5f6368;
}
html,
body {
  padding: 0;
  margin: 0;
  border-radius: 0;
  overflow-x: hidden;
}
em {
  font-style: normal;
}
body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
a,
button,
input,
input[type="buttton"],
input[type="submit"],
.btn {
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  outline: none !important;
  text-decoration: none;
  border: none;
  font-style: normal;
  text-decoration: none;
}
input {
  width: 100%;
}
img,
figure {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  margin: 0;
}
input,
textarea {
  padding: 5px 10px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/*Buttons*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #000;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  opacity: 1;
  color: #000;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #000;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: #000;
}
.noradius {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
supported by Chrome and Opera */
}
.pointerNone {
  pointer-events: none;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
}
.relative {
  position: relative;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}
h1,
h2,
h3 {
  font-family: "League Spartan";
}

/*******************Reset Css****************/
/*header-css*/
.header_outer {
  left: 0;
  right: 0;
  position: absolute;
  z-index: 99;
  top: 0;
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  padding: 20px 0;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
.header_outer.shrink {
  position: fixed;
  padding: 10px 0px;
}
.hddr_innr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.logo {
  max-width: 230px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.header_outer.shrink .logo {
  max-width: 195px;
}
.hddr_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.hddr_menu li {
  margin-right: 22px;
}
.hddr_menu li:last-child {
  margin-right: 0;
}
.hddr_menu li a {
  display: inline-block;
  color: #5c5b5a;
  font-size: 18px;
  font-weight: 600;
}
.hddr_menu li a:hover {
  color: #568de6;
}
.hddr_menu li.active_menu a {
  color: #568de6;
}
.basic_btn span {
  margin-left: 7px;
}
.menu_btn {
  display: none;
}
.overlay {
  display: none;
}
.basic_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 48px;
  font-size: 17px;
  color: #ffffff;
  padding: 0 20px;
  background-color: #fea02f;
  position: relative;
  -webkit-box-shadow: -5px 10px 10px rgba(255, 161, 48, 0.2);
  box-shadow: -5px 10px 10px rgba(255, 161, 48, 0.2);
  cursor: pointer;
  position: relative;
  font-family: "League Spartan";
  z-index: 9;
}
.basic_btn:after {
  position: absolute;
  content: "";
  left: auto;
  right: 0;
  background-color: #518ffe;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 0;
  z-index: -1;
  top: 0;
  bottom: 0;
}

.basic_btn:hover {
  color: #fff;
  -webkit-box-shadow: 0px 0px 20px rgba(81, 143, 254, 0.4);
  box-shadow: 0px 0px 20px rgba(81, 143, 254, 0.4);
}
.basic_btn:hover:after {
  left: 0;
  right: auto;
  width: 100%;
}
/*Header-section end*/
/*====================================*/
/* banner_sec start*/
.banner_sec {
  position: relative;
  padding: 180px 0 135px;
}
.banner_sec figure img {
  width: 100%;
}
.bg_area {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.banner_text h1 {
  font-size: 45px;
  color: #5c5b5a;
  line-height: 58px;
  margin: 0 0 20px;
}
.banner_text h1 span {
  color: #568de6;
}
.banner_text p {
  font-size: 18px;
  color: #808080;
  line-height: 28px;
  font-weight: 700;
}
.bnr_btn {
  display: inline-block;
  margin-top: 25px;
}
.banner_text {
  max-width: 50%;
}
.bnr_img {
  position: absolute;
  right: 0;
  top: -20px;
  max-width: 45%;
}
/*.bnr_img figure{
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: 100% 100%;
}*/
.bnr_hdng {
  margin-bottom: 30px;
}

.number_fill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
  max-width: 40%;
}
.number_fill .form-control {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 50px;
  color: #5c5b5ac2;
}

.number_fill > span {
  font-size: 16px;
  color: #5c5b5ac2;
}

.code_captionbx {
  position: absolute;
}
.code_caption1 {
  right: 19%;
  top: 18%;
  width: 220px;
}
.code_captionbx {
  background-color: #588fe1;
  padding: 15px;
  border-radius: 8px;
}
.code_text {
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  padding: 12px;
}
.code_text h5 {
  color: #5c5b5a;
  font-size: 14px;
}
.code_caption1:after,
.code_caption2:after {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #ffa130;
}
.code_caption1:after {
  left: -10px;
  bottom: -10px;
}
.code_caption2 {
  left: -85px;
  bottom: 5%;
  width: 280px;
}
.codecaption_mobile {
  display: none;
}
.codeimg_outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.code_pic {
  width: 60px;
  border-radius: 8px;
  overflow: hidden;
  min-width: 60px;
}

.code_content {
  padding-left: 10px;
  width: 100%;
}
.code_content > h4 {
  font-size: 12px;
  color: #fff;
  margin-bottom: 10px;
}
.code_caption2:after {
  right: -10px;
  top: -10px;
}
.for_mobile {
  display: none;
}
.intl-tel-input .country-list {
  z-index: 75;
}
/*.intl-tel-input.separate-dial-code .selected-dial-code{
	padding-left: 15px;
}*/
.intl-tel-input.separate-dial-code .selected-dial-code {
  text-align: left;
}
.intl-tel-input {
  width: 100%;
}
/* banner_sec end*/

/*winner_area--start*/
.winner_area {
  padding: 95px 0 50px;
  position: relative;
}
.page_hdng h2 {
  font-size: 32px;
  color: #5c5b5a;
  line-height: 48px;
}
.page_hdng h2 span {
  color: #fea02f;
}
.winner_area .page_hdng h2 span {
  display: inline-block;
}
.page_hdng p {
  margin: 10px 0 0;
  color: #929292f2;
  font-size: 18px;
}
.page_hdng {
  margin-bottom: 35px;
}
.winner_outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 6%;
}
.winner_pic {
  width: 37%;
  padding-right: 15px;
}
.winner_pic figure {
  border: 3px solid #ffa130;
}
.winner_pic figure img {
  width: 100%;
}
.winner_textBx {
  width: 63%;
  border: 3px solid #5f8afb;
  padding: 20px;
  position: relative;
  overflow: hidden;
}
.winer_graphics {
  position: absolute;
  max-width: 375px;
  left: -75px;
  top: -40px;
  z-index: -1;
}
.winer_hdng h4 {
  text-transform: uppercase;
  color: #5f8afb;
  font-weight: 700;
  font-size: 24px;
}
.winer_hdng {
  margin-bottom: 30px;
}
.wining_para p {
  font-size: 18px;
  color: #808080;
  margin-bottom: 25px;
}
.wining_para p:last-child {
  margin-bottom: 0;
}
.wining_para p span {
  color: #ffa130;
}
.wining_para p:first-child {
  padding-right: 70px;
}
.cup {
  position: absolute;
  right: 8px;
  top: 43px;
  max-width: 118px;
}
.style_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
}
.style_logo span {
  display: inline-block;
  margin-right: 20px;
  font-family: "Gigi";
  font-size: 30px;
  color: #808080;
}
.style_logo span:last-child {
  width: 60px;
  margin-right: 0;
}
.winner_textBx:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 730px 0 0 1049px;
  border-color: transparent transparent transparent #f0f3fc;
  z-index: -1;
  top: 0;
  left: 0;
  pointer-events: none;
}
.book_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 85px 0 0;
}
/*winner_area--end*/

/*learning_codeArea--start*/
.learning_codeArea {
  padding: 0 0 70px;
}
.learing_outer .row .col-lg-6:first-child {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
.learing_outer .row .col-lg-6:last-child {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.learing_outer .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.learning_pic {
  position: relative;
  text-align: center;
}

.learning_text .page_hdng {
  margin-bottom: 10px;
}
.page_hdng h2 span {
  display: block;
}

.learning_text .page_hdng h2 {
  line-height: 50px;
}

.learning_para p {
  font-size: 16px;
  color: #5c5b5a;
  line-height: 28px;
  margin-bottom: 30px;
}
.learning_para p span {
  font-weight: 700;
}
.learning_para p:last-child {
  margin-bottom: 0;
}
/*learning_codeArea--end*/

/*child_futureArea--start*/

.child_futureArea {
  padding: 75px 0 55px;
  position: relative;
}
.sede_art {
  position: absolute;
  max-width: 430px;
}
.sideart_1 {
  left: 0;
  top: 0;
}
.sideart_2 {
  right: 0;
  top: 0;
}
.child_loopOuter {
  padding: 75px 0 0;
}
.child_loop_row {
  position: relative;
  padding-bottom: 180px;
}
.child_loop_row:last-child {
  padding-bottom: 0;
}
.child_loop_row .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.child_loop_row:nth-child(odd) .col-lg-6:first-child {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
.child_loop_row:nth-child(odd) .col-lg-6:last-child {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.child_animate {
  margin-bottom: 15px;
  position: absolute;
  top: -25px;
}

.child_text {
  padding: 65px 0 0;
  position: relative;
}
.child_hdng h3 {
  font-size: 36px;
  line-height: 46px;
}
.child_loop_row:nth-child(even) .child_hdng h3 {
  color: #fea02f;
}
.child_hdng {
  margin-bottom: 15px;
}
.child_para p {
  font-size: 18px;
  color: #5c5b5a;
  line-height: 28px;
}

.child_loop_row:after {
  position: absolute;
  content: "";
  height: 215px;
  width: 100%;
  z-index: -1;
}
.child_loop_row:nth-child(odd):after {
  background: url(../images/odd-line.png) no-repeat center;
  bottom: 0;
  right: 0;
}
.child_loop_row:nth-child(even):after {
  background: url(../images/even-line.png) no-repeat center;
  bottom: -20px;
  left: 0;
}
.child_loop_row:last-child:after {
  display: none;
}

.child_graphics {
  text-align: center;
  position: relative;
}
.normal_graphics,
.normal_pic,
.normal_animate,
.skill_normal {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 1;
  visibility: visible;
}
.child_graphics:hover .normal_graphics,
.learning_pic:hover .normal_pic,
.child_text:hover .normal_animate,
.skil_animate_hdng:hover .skill_normal {
  opacity: 0;
  visibility: hidden;
}
.child_graphics:hover .hov_graphics,
.learning_pic:hover .hover_pic,
.child_text:hover .hov_animate,
.skil_animate_hdng:hover .skill_hov {
  opacity: 1;
  visibility: visible;
}
.hov_graphics,
.hover_pic,
.hov_animate,
.skill_hov {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.child_loop_row:nth-child(2) .child_animate {
  right: 0;
}
.child_loop_row:nth-child(2) .hov_animate {
  left: auto;
}
/*child_futureArea--end*/

/*skill_develop_area--start*/
.skill_develop_area {
  padding: 55px 0 75px;
}
.skil_animate_hdng {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.skil_animate_hdng {
  margin-bottom: 35px;
}
.skil_animate_hdng .page_hdng span {
  display: inline-block;
}
.skil_animate_hdng .page_hdng {
  margin-bottom: 0;
}
.skill_animateicon {
  margin-right: 20px;
  max-width: 65px;
  position: relative;
}

.skill_animateicon {
  height: 70px;
}
.skill_outer {
  padding-top: 40px;
}
.skill_item {
  text-align: center;
}
.skill_icon {
  margin-bottom: 20px;
}
.skill_text h4 {
  font-size: 19px;
  color: #5c5b5a;
  font-weight: 700;
  line-height: 29px;
}
/*skill_develop_area--end*/
/*curriculam_area--start*/
.curriculam_area {
  padding: 35px 0 55px;
}
.curriculam_area .page_hdng h2 span {
  display: inline-block;
}
.curriulam_outer {
  padding: 55px 0 0;
}
.curriculam_item {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  height: 100%;
  padding: 40px 25px;
  text-align: center;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.curriculam_item:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.curriculam_icon {
  max-width: 155px;
  margin: 0 auto 25px;
}
.bx_hdng h3 {
  text-transform: uppercase;
  color: #1dc11d;
  font-size: 22px;
  margin-bottom: 10px;
}

.c_icontext h3 {
  color: #5c5b5a;
  font-size: 19px;
  margin-bottom: 5px;
}

.c_icontext h5 {
  color: #5c5b5a;
  font-size: 15px;
}
.c_icontext {
  margin-bottom: 30px;
}
.curriculam_list > h4 {
  font-size: 16px;
  color: #5c5b5a;
  font-weight: 700;
  margin-bottom: 20px;
}
.curriculam_list ul {
  min-height: 300px;
}
.curriculam_list li {
  margin-bottom: 10px;
}
.curriculam_list li a {
  font-size: 16px;
  color: #5c5b5a;
}
.curriculam_list li a:hover {
  color: #ffa130;
}
.ofr_inr {
  margin: 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px;
}
.lft_inr_ofr h5 {
  text-decoration: line-through;
  font-size: 14px;
}
.ofr_inr h5 {
  color: #5c5b5a;
  text-transform: uppercase;
  text-align: right;
}
.rghtt_inr_ofr h5 {
  font-size: 23px;
}
.ofr_inr h6 {
  font-size: 14px;
  color: #ef4949;
}
/*.buy_btn {
    max-width: 65%;
    margin: 0 auto;
}*/
/*curriculam_area--end*/
.testimonial_sec {
  padding: 75px 0 55px;
}
.testi_outer {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.testi_pic {
  position: relative;
}
.testi_pic figure {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: relative;
  min-width: 300px;
  -webkit-box-shadow: 0 -11px 0 rgba(244, 244, 244, 1);
  box-shadow: 0 -11px 0 rgba(244, 244, 244, 1);
  overflow: hidden;
}
.testi_pic figure img {
  width: 100%;
  height: 100%;
}
.testimonial_text {
  padding-left: 40px;
}
.testimonial_text p {
  position: relative;
  font-size: 18px;
  color: #5c5b5a;
  line-height: 30px;
  position: relative;
}
.testimonial_text p:after,
.testimonial_text p:before {
  position: absolute;
  content: "";
  width: 80px;
  height: 58px;
}
.testimonial_text p:before {
  left: -27px;
  top: -70px;
  background: url(../images/quote1.png) no-repeat center;
}
.testimonial_text p:after {
  right: -27px;
  bottom: -70px;
  background: url(../images/quote2.png) no-repeat center;
}
.clint_name {
  padding: 15px;
  background-color: #578ee8;
  text-align: center;
  margin-top: -50px;
  position: relative;
}
.clint_name h3 {
  font-size: 18px;
  color: #fff;
}
.testi_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: -50px;
  top: -15px;
  z-index: -1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.border_circle {
  height: 170px;
  width: 170px;
  border: 1px solid #578ee8;
  border-radius: 50%;
  display: block;
}
.bg_circle {
  display: block;
  height: 150px;
  width: 150px;
  background-color: #ffa130;
  border-radius: 50%;
  margin-top: 39px;
  margin-right: -113px;
}
.testi_slideItem {
  padding: 40px;
}
.testi_pic:hover .testi_circle {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: -4px;
  top: -50px;
}
.testimonial_slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.testimonial_slider .slick-dots li {
  margin-right: 15px;
}
.testimonial_slider .slick-dots li:last-child {
  margin-right: 0;
}
.testimonial_slider .slick-dots li button {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #a7caf4;
  cursor: pointer;
  font-size: 0;
}
.testimonial_slider .slick-dots li.slick-active button {
  background-color: #ffa130;
}

/*end-testimonial-area*/

.creator_future {
  padding: 85px 0;
  position: relative;
  overflow: hidden;
}
.creator_future .page_hdng h2 span {
  display: inline-block;
}
.side_circle {
  max-width: 425px;
  position: absolute;
  top: 10%;
  left: -133px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.creator_fillArea {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0 0;
}
.creator_fillArea .number_fill {
  margin: 0 auto;
  max-width: 30%;
}
.creator_fillArea .number_fill .form-control {
  text-align: center;
}
.toggle_pic {
  position: absolute;
  right: 5%;
  top: 50%;
  max-width: 120px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.normal_toggle {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.hover_toggle {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.creator_future:hover .normal_toggle {
  opacity: 0;
  visibility: hidden;
}
.creator_future:hover .hover_toggle {
  opacity: 1;
  visibility: visible;
}
.creator_future:hover .side_circle {
  left: -151px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*=========creator_future-area-end==================================*/

.scrollup {
  position: fixed;
  bottom: 15px;
  right: -50px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 98;
  background-color: #fea02f;
  border-radius: 50%;
  cursor: pointer;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.scrollup:hover {
  -webkit-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  transform: translateY(-7px);
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.scrollup.active {
  right: 10px;
}

.scrollup span {
  font-size: 20px;
  color: #fff;
  line-height: 0;
}
/*===============================*/

/*loader-animation*/

.spinner {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.spinner.spinner-circle {
  border: 4px #568de6 solid;
  border-top: 4px #fff solid;
  border-radius: 50%;
  -webkit-animation: spCircRot 0.6s infinite linear;
  animation: spCircRot 0.6s infinite linear;
}
@-webkit-keyframes spCircRot {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spCircRot {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.loading_page {
  /* background-color: rgba(254, 160, 47, 0.9); */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  height: 100vh;
}

/*end-loader-animation*/

/*modal-css*/
.booking_sec {
  padding: 65px 0;
}
.booking_modal {
  background-color: #fff;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 40px 35px;
}

.booking_modal .boking_header {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.booking_logo {
  display: block;
  width: 100%;
  text-align: center;
  max-width: 215px;
  margin: 0 auto 20px;
}
.boking_header h3 {
  font-size: 24px;
  width: 100%;
  text-align: center;
  line-height: 30px;
}
.boking_header h3 span {
  display: block;
  color: #808080;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

/*.booking_modal .form_body{
	padding: 40px 35px;
}*/
.input_fillOuter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -8px;
}
.input_fill {
  padding: 0 8px;
  margin-bottom: 20px;
}
.input_fill:last-child {
  margin-bottom: 0;
}
.input_fill label {
  color: #808080;
  font-size: 16px;
}
.input_fill label span {
  color: #ff0000;
}
.input_fill .form-control {
  background-color: #f0f3fc;
  height: 45px;
  padding: 0 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
  color: #808080;
  font-size: 14px;
}
.w_100 {
  width: 100%;
}
.w_50 {
  width: 50%;
}
.input_fill .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #808080;
}
.input_fill .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #808080;
}
.input_fill .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #808080;
}
.input_fill .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #808080;
}

.input_fill .form-control:focus {
  border-color: #fea02f;
}

.input_fill .intl-tel-input.separate-dial-code .selected-flag {
  background-color: transparent !important;
}

.kids_gradeArea {
  margin: 25px 0;
}
.kids_hdng {
  font-size: 16px;
  color: #808080;
}
.gradebx_outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.grade_item {
  margin-right: 15px;
  position: relative;
  cursor: pointer;
}
.grade_item:last-child {
  margin-right: 0px;
}
.grade_item input[type="radio"] {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.clss_bx {
  height: 45px;
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #808080;
  background-color: #fff;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
}
.clss_bx h5 {
  color: #808080;
  font-size: 12px;
  line-height: 18px;
}
.clss_bx h5 span {
  display: block;
  font-size: 16px;
}

.grade_item input[type="radio"]:checked + .clss_bx {
  background-color: #fea02f;
  border-color: transparent;
}
.grade_item input[type="radio"]:checked + .clss_bx h5 {
  color: #fff;
}
.radio_check {
  margin: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.radio_check input[type="checkbox"],
.radio_check input[type="radio"] {
  display: none;
}
.radio_check input[type="radio"] + span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 7px;
  position: relative;
  border: 2px solid #a2a2a2;
}
.radio_check input[type="radio"]:checked + span:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin: -3px 0 0 -3px;
  background: #fea02f;
}
.radio_check i {
  font-style: normal;
  font-size: 16px;
  color: #808080;
}
.lptop_pc_row {
  margin-bottom: 25px;
}
.lptop_pc_row ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lptop_pc_row ul li {
  margin-right: 15px;
}
.lptop_pc_row ul li:last-child {
  margin-right: 0;
}
.submit_fill.basic_btn {
  display: inline-block;
  padding: 0;
}
.sbmit_btn {
  background-color: transparent;
  height: 100%;
  color: #fff;
  font-size: 17px;
  padding: 0 20px;
  cursor: pointer;
}
.terms_area {
  margin-top: 25px;
}
.terms_area p {
  font-size: 16px;
  color: #808080;
}
.terms_area p a {
  display: inline-block;
  font-weight: 500;
  color: #568de6;
}
.terms_area p a:hover {
  color: #fea02f;
}
.icon_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}
.icon_row:last-child {
  margin-bottom: 0;
}
.form_icon {
  width: 35px;
}
.form_icon svg {
  width: 35px;
}
.ban_fill svg {
  fill: #7ac29a;
}
.lock_fill svg {
  fill: #7a9e9f;
}
.support_fill svg {
  fill: #f3bb45;
}
.warning_fill svg {
  fill: #f90517;
}
.form_icon_text {
  padding-left: 15px;
}
.bokking_iconArea {
  padding: 40px 35px;
  background: #fff;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  height: 100%;
}
.form_icon_text h4 {
  font-size: 19px;
  color: #333;
  font-weight: 600;
  margin-bottom: 15px;
}
.form_icon_text p {
  font-size: 15px;
  color: #808080;
  line-height: 24px;
}
.form_icon_text p a {
  display: inline-block;
  color: #568de6;
  font-size: 15px;
  font-weight: 600;
}
.form_icon_text p a:hover {
  color: #fea02f;
}
.form_icon_text p span {
  font-weight: 600;
}
.error {
  color: red !important;
}
.bokking_formArea .intl-tel-input .flag-container {
  top: 13px;
  bottom: auto;
}
.flag-container {
  padding: 0 !important;
}
/*modal-css--end*/
.footer-txt {
  text-align: center;
  margin-top: 50px;
  color: #5c5b5a;
}
.starimg {
  display: inline-block;
  position: relative;
  top: 3px;
}
